@import url('https://fonts.googleapis.com/css?family=Roboto');



* {
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 62.5%;
}
body.noScroll {
    margin-right: 0 !important;
    overflow: hidden;
}



#app {
    padding: 2em 1em;
    max-width: 800px;
    margin: 0 auto;
}



#header {
    text-align: center;
    margin-bottom: 2em;
}



/* TODO encapsulate to component */
.table {
    width: 100%;
    border-spacing: 0;
}
thead {
    font-weight: bold;
}
.row {
    padding: .2em;
}
.row:nth-of-type(odd) {
    background: #e7e7e7;
}
td {
    padding: .5em;
    font-size: 1.2em;
}


/* TODO encapsulate to component */
.button {
    border: 0;
    background: 0;
    cursor: pointer;
    outline: 0;
    padding: .5em 1em;
    border-radius: .25em;
}
.button.delete {
    background: salmon;
    color: white;
}
.button.edit {
    background: orange;
    color: white;
}
.button.add {
    background: green;
    color:white;
}
.button:hover {
    background: grey;
}


/* TODO encapsulate to component */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
    animation: fadeIn .25s ease;
}
.overlay.leave {
    animation: fadeOut .25s ease;
}


.popup {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4em 3em 2em;
    min-width: 30vw;
    border-radius: .25em;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
    position: relative;
}
.overlay .popup {
    animation: slideIn .25s ease;
}
.overlay.leave .popup {
    animation: slideOut .25s ease;
}
.x-btn {
    position: absolute;
    top: .5em;
    right: .5em;
}



/* TODO encapsulate to component */
.form {
    display: flex;
    flex-direction: column;
}
.form input {
    padding: .5em;
    min-width: 40vw;
    margin-bottom: 1em;
    box-shadow: 0;
    border: 1px solid #e7e7e7;
}
.form input:disabled {
    background: #e7e7e7;
}



/* TODO encapsulate to component */
@keyframes fadeIn {
    from {  background: none;  }
    to { background: rgba(0,0,0,.5);  }
}
@keyframes fadeOut {
    from {  background: rgba(0,0,0,.5);  }
    to { background: none; }
}
@keyframes slideIn {
    from {  transform: translateY(-100vh)  }
    to {  transform: translateY(0)  }
}
@keyframes slideOut {
    from {  transform: translateY(0vh)  }
    to {  transform: translateY(-100vh)  }
}
